.img-thumbnail {
    /* background: #fff; */
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  
  .img-thumbnail > .img-container {
    height: 100%;
    text-align: center;
    cursor: pointer;
  }
  .img-thumbnail > .img-container > img {
    width: 60%
  }
  .img-thumbnail:hover {
    width: 190px;
    height: 190px;
  }